/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */

    /* light mode */
    --clr-black:228 23% 23%;
    --clr-black-light:228 10% 47%;
     --clr-dark-cyan:  185 75% 39%;
     --clr-desturated-blue:229 23% 23%;
     --clr-dark-grey-blue:227 10% 46%;

    /* Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%) */

    
    /* font-sizes */
    --fs-900: 8rem;
    --fs-800: 6rem;
    --fs-700: 1.5rem;
    --fs-600: 2rem;
    --fs-500: 1.2rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: Inter, serif;
    --ff-sans-cond: Inter, sans-serif;
    --ff-sans-normal: Inter, sans-serif;

    /* bold */
    --bold:bold;

}

@media (min-width: 35em) {
    :root {
        --fs-900:12rem;
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-900:14rem;
        --fs-800: 5rem;
        --fs-700: 3.5rem;
        --fs-600: 1.5rem;
        --fs-500:1rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-dark) );
    background-color: hsl( var(--clr-white) );
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.fs-bold{font-weight: var(--bold);}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.fc-grey{color: hsl( var(--clr-black-light) );}

/* specified CSS */


body{
    background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg), hsl(var(--clr-dark-cyan));
    background-repeat: no-repeat,no-repeat;
    background-position: -280px -450px, 900px 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Kumbh Sans;
}

.section-card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    width: 30%;
    height: 35rem;   
}


.header-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.top-card-bg{
    position: relative;
    background: url(./images/bg-pattern-card.svg);
    background-size: contain;
    height: 13rem;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.photo{
    top: -5.5rem;
    position: relative;
    width: 9rem;
    border-radius: 80px;
    margin: 1rem;
    border: 6px solid white;
    
}



.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -5.5rem;
    
}



.name{
    margin-bottom: 1rem;
}

.sep-line{
    position: relative;
    border-bottom: 0.5px solid hsl( var(--clr-black-light)/0.25 );
    height: 2.5rem;
    width: 100%;
    top: -5.5rem;
}

.figure-container{
    position: relative;
    top: -2.5rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}

.figures-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.figure-num{
    margin-bottom: 0.7rem;
}


@media (max-width:501px){
    body{
        background-position: -650px -500px, 80px 600px;
    }

    .section-card{
        width: 95%;
        margin: 2rem;
    }
}
